USE [master]
GO
/****** Object:  Database [FruitsNVegetables]    Script Date: 01.04.2024 1:41:40 ******/
CREATE DATABASE [FruitsNVegetables]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FruitsNVegetables', FILENAME = N'D:\SQLServ\MSSQL16.MSSQLSERVER\MSSQL\DATA\FruitsNVegetables.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FruitsNVegetables_log', FILENAME = N'D:\SQLServ\MSSQL16.MSSQLSERVER\MSSQL\DATA\FruitsNVegetables_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FruitsNVegetables].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FruitsNVegetables]
GO
/****** Object:  Table [dbo].[FnV]    Script Date: 01.04.2024 1:41:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FnV](
	[Name] [nvarchar](50) NULL,
	[Type] [nvarchar](50) NULL,
	[Color] [nvarchar](50) NULL,
	[Caloricity] [int] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_FnV] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[CaloricityAVG]    Script Date: 01.04.2024 1:41:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CaloricityAVG]
AS
BEGIN
SELECT AVG(Caloricity) FROM FnV
END
GO
/****** Object:  StoredProcedure [dbo].[DelAnElem]    Script Date: 01.04.2024 1:41:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DelAnElem]
@ID int
AS
BEGIN
DELETE FROM FnV WHERE ID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[GetAll]    Script Date: 01.04.2024 1:41:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAll]
AS
BEGIN
SELECT * FROM FnV
END
GO
/****** Object:  StoredProcedure [dbo].[GetByName]    Script Date: 01.04.2024 1:41:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetByName]
@Name nvarchar(50)
AS
BEGIN
SELECT * FROM FnV WHERE Name = @Name
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateAnElement]    Script Date: 01.04.2024 1:41:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateAnElement]
@Name nvarchar(50),
@Type nvarchar(50),
@Color nvarchar(50),
@Caloricity int,
@ID int
AS
BEGIN
UPDATE FnV 
SET Name = @Name, Type = @Type, Color = @Color, Caloricity = @Caloricity
WHERE ID = @ID
END
GO
USE [master]
GO
